{{ for section of sections }}
{{ if section.title }}# {{ section.title }}{{ /if }}
{{ if section.subtitle }}## {{ section.subtitle }}{{ /if }}
{{ if section.content }}{{ section.content }}{{ /if }}
{{ /for }}